<!DOCTYPE html>
<html>
    <head>
        <title>
            Canvas test
        </title>
        
        <link type="text/css" rel="stylesheet" href="./static/stylesheet.css">
    </head>
    <body>
        Draw the number you want:
        <div id="container">
<!--             <form id="numberform" method="post"> -->
                <canvas id="number" width=400 height="300">
                    <p>
                    Not supported
                    </p>
                </canvas>
<!--                 <input type="submit"> -->
                
<!--             </form> -->
        </div>
         <button onclick="submitImage()">Submit</button>
        
        <script type="text/javascript" src="./static/getnumber.js"></script>
    </body>
</html>